.index-right {
    width: 66px;
    background-color: #FFFFFF;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.index-right-div {
    width: 100%;
}

.item-abs-code {
    width: 140px;
    height: 194px;
    top: -88px;
    box-sizing: border-box;
    padding: 10px;
}
.item-hover {
    position: absolute;
    z-index: 1;
    right: 66px;
    box-shadow: 0px 2px 20px 0px rgb(170 170 216 / 40%);
    background: #FFFFFF;
    text-align: center;
    display: none;
    font-size: 12px;
    border-radius: 8px;
}
.item-abs-code img {
    width: 120px;
    height: 120px;
}
.right-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-bottom: 31px;
    cursor: pointer;
}

.item-container {
    text-align: center;
}

.item-container-bg {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    display: inline-block;
}

#go-app .item-container-bg {
    background-image: url(@/assets/img/Routerimg/yingyong.png);
}

#go-wx .item-container-bg {
    background-image: url(@/assets/img/Routerimg/xiaochengxu.png);
}

#go-tell .item-container-bg {
    background-image: url(@/assets/img/Routerimg/dianhua.png);
}

#go-top .item-container-bg {
    background-image: url(@/assets/img/Routerimg/dingbu.png);
}

#go-app:hover .item-container-bg {
    background-image: url(@/assets/img/Routerimg/yingyong1.png);
}

#go-wx:hover .item-container-bg {
    background-image: url(@/assets/img/Routerimg/xiaochengxu1.png);
}

#go-tell:hover .item-container-bg {
    background-image: url(@/assets/img/Routerimg/dianhua1.png);
}

#go-tell:hover .item-container-bg {
    background-image: url(@/assets/img/Routerimg/dianhua1.png);
}

#go-top:hover .item-container-bg {
    background-image: url(@/assets/img/Routerimg/dingbu1.png);
}
.right-item:hover {
    color: #5685FE;
}
.right-item:hover .item-hover {
    display: block;
}
#item-abs-tel {
    width: 140px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #5685FE;
}